@model Koolitusede.Models.Koolitus

@{
    ViewBag.Title = "CreateKoolitus";
}

<h2>CreateKoolitus</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="jumbotron">
    <div class="form-horizontal">
        <h4>Koolitus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Koolitusenimetus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Koolitusenimetus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Koolitusenimetus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Koolitusekirjaldus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Koolitusekirjaldus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Koolitusekirjaldus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpetajaId, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<label class="control-label col-md-2" for="OpetajaId">Opetaja</label>*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpetajaId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OpetajaId, "", new { @class = "text-danger" })

                @*@Html.DropDownList("OpetajaId", String.Empty)
                    @Html.ValidationMessageFor(model => model.OpetajaId)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Koolitusehind, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Koolitusehind, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Koolitusehind, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Koolitusemaht, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Koolitusemaht, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Koolitusemaht, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Luua" class="btn btn-default" />
            </div>
        </div>
    </div>
    </div>
    }

    <div>
        @Html.ActionLink("Tagasi nimekirja", "Koolitus", null, new { @class = "btn btn-primary" })
    </div>
