@model Koolitusede.Models.Koolitus

@{
    ViewBag.Title = "DeleteKoolitus";
}

<h2>KustutamaKoolitus</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>

<div>
    <h4>Koolitus</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Koolitusenimetus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Koolitusenimetus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Koolitusekirjaldus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Koolitusekirjaldus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpetajaId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpetajaId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Koolitusehind)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Koolitusehind)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Koolitusemaht)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Koolitusemaht)
            </dd>

        </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Kustutama" class="btn btn-default" /> |
                @Html.ActionLink("Tagasi nimekirja", "Koolitus", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
