@model Koolitusede.Models.Opetaja

@{
    ViewBag.Title = "DeleteOpetaja";
}

<h2>Kustutama Opetaja</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <h4>Opetaja</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OpetajaEesnimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpetajaEesnimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpetajaPerenimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpetajaPerenimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>

        </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Kustutama" class="btn btn-default" /> |
                @Html.ActionLink("Tagasi nimekirja", "Opetaja", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
